/* Trống - Để tạm để không bị lỗi import */
.hero {
    padding: 40px;
    background: #001529;
    text-align: center;
}
.card-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}